body {
  background: #f8f8f8;
}

.post-container {
  width: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .post-container {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .post-container {
    width: auto;
  }
}